altgraph==0.15
asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
baidu-aip==2.1.0.0
beautifulsoup4==4.6.0
bleach==1.5.0
certifi==2017.11.5
cffi==1.10.0
chardet==3.0.4
click==6.7
colorama==0.3.9
constantly==15.1.0
cryptography==2.0.3
cssselect==1.0.1
cycler==0.10.0
danmu==1.0.5
danmu.fm==0.3.6
decorator==4.1.2
Django==2.0.2
douyu==0.1.2
easydict==1.7
entrypoints==0.2.3
enum34==1.1.6
feedgen==0.5.1
future==0.16.0
html5lib==0.9999999
hyperlink==17.3.0
idna==2.6
imageio==2.2.0
incremental==17.5.0
ipykernel==4.8.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.1
jedi==0.11.1
jieba==0.39
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
kafka-python==1.3.5
lxml==4.1.1
macholib==1.9
mahotas==1.4.3
Markdown==2.6.10
MarkupSafe==1.0
marshmallow==2.15.0
matplotlib==2.1.1
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nltk==3.2.5
nose==1.3.7
notebook==5.3.1
numpy==1.13.3+mkl
olefile==0.44
opencv-python==3.4.0.12
pandas==0.21.0
pandocfilters==1.4.2
parsel==1.2.0
parso==0.1.1
pathlib2==2.3.0
pefile==2017.11.5
pickleshare==0.7.4
Pillow==4.3.0
prettytable==0.7.2
progressbar33==2.4
prompt-toolkit==1.0.15
protobuf==3.5.0.post1
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.18
PyDispatcher==2.0.5
pygame==1.9.3
Pygments==2.2.0
pyHook==1.5.1
pyinstall==0.1.4
PyInstaller==3.3
PyMySQL==0.7.11
pyOpenSSL==17.0.0
pyparsing==2.2.0
pyreadline==2.1
pytesser3==1.0.1
pytesseract==0.1.7
python-dateutil==2.6.1
Python-FreeType==0.6
python-slugify==1.2.4
pytz==2018.3
PyUserInput==0.1.11
PyWavelets==0.5.2
pywin32==221
pywin32-ctypes==0.1.2
pywinpty==0.5.1
pyzmq==17.0.0b4
qtconsole==4.3.1
queuelib==1.4.2
requests==2.18.4
russell-cli==0.6.2
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
Scrapy==1.4.0
selectivesearch==0.4
selenium==3.7.0
Send2Trash==1.4.2
service-identity==17.0.0
shortuuid==0.5.0
simplegeneric==0.8.1
six==1.11.0
tabulate==0.8.2
tensorflow==1.4.0
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc3
terminado==0.8.1
testpath==0.3.1
tflearn==0.3.2
tornado==4.5.3
traitlets==4.3.2
Twisted==17.5.0
tzlocal==1.5.1
Unidecode==0.4.21
urllib3==1.22
w3lib==1.17.0
wcwidth==0.1.7
websocket-client==0.44.0
Werkzeug==0.13
widgetsnbextension==3.1.3
win32core==221.36
win32gui==221.6
xlrd==1.1.0
xlwt==1.3.0
zope.interface==4.4.2
